.title{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title > *{
    margin: 3vw;
}

.title img{
    width:40vw;
}

.title .button, select{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:70vw;
    height: 7vh;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(215, 9, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    font-size: 5vw;
    color:rgba(215, 9, 0, 1);
}

.title .button:hover, select:hover{
    cursor: pointer;
}

.title .button:active{
    transform: translateY(3px);
}

.title-text{
    font-family: 'Righteous', cursive;
    font-size: 12vw;
    color:rgba(255, 255, 255, 1);
}

@media screen and (min-width:1024px){
    .title{
        margin-top: 3vh;
    }

    .title > *{
        margin: 2vh;
    }

    .title img{
        width: 15vw;
    }
    .title-text{
        font-size: 5vw;
    }

    .title .button, select{
        width:40vw;
        font-size: 3vw;
    }
}