.header{
    margin-top:2vh;
    display: flex;
    align-items: center;
}

.header > *{
    margin:2vw;
}

.header img{
    width:15vw;
}

@media screen and (min-width:1024px){
    .header img{
        width:7vw;
    }   
}