@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

/*
    font-family: 'Recursive', sans-serif;

    font-family: 'Righteous', cursive;
*/

body{
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
    background-color: rgba(251, 107, 107, 1);
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 12vw;
    color:rgba(255, 255, 255, 1);
}

.content{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deck-screen{
    margin: 500px 0;
    width: 85vw;
}

.cards{
    margin-bottom: 15vh;
}

.button-green:hover, .button-yellow:hover, .button-red:hover, .question:hover, .card:hover{
    cursor: pointer;
}

.button-green:active,.button-yellow:active,.button-red:active, .question:active, .card:active{
    transform: translateY(3px);
}

.answer, .question, .card{
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.card > *{
    margin: 4%;
}

.card p{
    color:rgba(51, 51, 51, 1);
    font-size: 2.5vh;
}

.card ion-icon{
    font-size: 5vh;
}

.green:hover, .yellow:hover, .red:hover{
    cursor: default;
}
.green:active, .yellow:active, .red:active{
    transform: none;
}

.red h2{
    color: rgba(255, 48, 48, 1);
    text-decoration:line-through;
}

.red ion-icon{
    color: rgba(255, 48, 48, 1) ;
}

.yellow h2{
    color: rgba(255, 146, 46, 1);
    text-decoration:line-through;
}

.yellow ion-icon{
    color: rgba(255, 146, 46, 1);
}

.green h2{
    color: rgba(47, 190, 52, 1);
    text-decoration:line-through;
}

.green ion-icon{
    color: rgba(47, 190, 52, 1);
}

.answer, .question{
    height:20vh;
}
.answer>*, .question > *{
    margin: 3.5%;
}

.answer p, .question p{
    color:rgba(51, 51, 51, 1);
    font-size: 2.5vh;
}

.answer p, .question p, .question > div{
    height: 80%;
    display: flex;
    align-items: center;
}

.answer, .question p{
    flex-direction: column;
}

.question > div{
    flex-direction: column-reverse;
}

.question > div ion-icon{
    font-size: 3vh;
}

.button-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.button-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
    width:30%;
}
.button-container p{
    font-size: 2vh;
    margin:3px;
    color:white;
    text-align: center;
}

.button-red{
    background-color: rgba(255, 48, 48, 1);
}

.button-yellow{
    background-color: rgba(255, 146, 46, 1);
}

.button-green{
    background-color: rgba(47, 190, 52, 1);
}